.one{
    width: 100%;
    height:320px;
    background-color: hsl(0, 0%, 0%, .5);
    border: 3px black solid;
}
.two{
    position: relative;
    width: 50%;
    height:320px;
    background-color: hsl(240, 100%, 50%, .5);

}

.three{
    position: absolute;
    float: left;
    left: 1013px;
    top: 334px;
    width: 50%;
    height: 640px;;
    background-color: violet;

}

.four{
    position: relative;
    width: 50%;
    height:320px;
    background-color: greenyellow;
}

input{
border: 3px solid black;
height: 30px;
width: 500px;
border-radius: 10px;
font-size: xx-large;
font-weight: bold;
margin-top: 40px;
margin-left: 40px;
}

