*{
    padding: 0%;
    margin: 0%;
}


body{
    background-color: black;
}

.backg{
    margin-left: 12%;
    background-color: rgb(193, 198, 203);
    width:1500px;
    height:880px

}
.one{
    width: 1500px;
    height: 100px;
    background-color: rgb(39, 98, 124);
    text-align: center;
    line-height: 100px;
    font-size: x-large;
    color: white;
    
}

.two{
    width: 500px;
    height: 780px;
    float: left;
}
img{
    width: 500px;
    height: 780px;
}

.three{
    float: left;
    width: 1000px;
    height: 210px;

}

h2{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 25px;
}

p{
    font-size: 22px;
    padding-right: 35%;
    margin-left: 20px;
}

.four{
    width: 500px;
    height: 570px;
    float: left;
   
}
.five{
    width: 500px;
    height: 570px;
    float: left;
   
}

div label{
position:relative;
top: 40px;
left:35px;
line-height: 40px;
font-size: x-large;
}

input{
    width: 430px;
    height:45px;
    font-size: 20px;
    border: 2px charcole solid;
   
    
}

select{
    width: 430px;
    height: 45px;
    font-size: 20px;
    border: 2px charcole solid;
}

.but{
    background-color: rgb(39, 98, 124);
    width:300px;
    height: 50px;
    font-size: large;
    margin-left: 30px;
    margin-top: 40px;
    color: aliceblue;
}


div label:hover{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
